@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

/* Imágen de presentación del sitio */

#aparicion-home {
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: img-aparece;
}

@keyframes img-aparece {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#aparecion-info {
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: info-aparece;
}

@keyframes info-aparece {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    60% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/** 

#logo-intro {
    scale: 2;
} 

**/

#img-fondo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/img/Portada05.jpeg");
    background-color: rgba(0,0,0,.6);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
}

.cta {
    bottom: 0;
    left: 0;
    padding-bottom: 1.4rem;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 4;
}

#h3-cta {
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: large;
    color: white;
}

.btn-cta {
    border-bottom: 2px solid red;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    color: white;
}
.btn-cta:hover {
    color: red;
}

.bi-music-note-beamed {
    color: #ffffff;
    margin-left: 6px;
    margin-right: 6px;
}

#mas-info {
    animation-delay: 6s;
    animation-fill-mode: forwards;
    margin-top: 1em;
}

div span {
    color: #ffffff;
}

i {
    animation: bounce 1s infinite;
    animation-timing-function: ease;
}

@keyframes bounce {

    0% {
    transform: translateY(0);
    }

    50% {
    transform: translateY(3px);
    }
    100% {
    transform: translateY(0);
    }
} 

.bi {
    display: inline-block;
    font: normal normal normal 14px/1;
    font-size: inherit;
    text-rendering: auto;
    margin-left: 3px;
    margin-right: 3px;
    color:rgb(255, 255, 255);
}

/* MENU-NAV
-------------------------------------------------- */

#sticky {
    position: sticky;
    top: 0%;
    z-index: 100;
}

nav .container {
    max-width: 1200px;
}

.bg-BK {
    background-color: black;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link.active {
    color: rgb(255, 255, 255);
}

.nav-link {
    color:rgba(255, 255, 255, 0.5);
}

.nav-item {
    font-size: 18px;
    
}

.nav-item a:hover {
    color: #B1070C;;
}

/* Lineas que forman la hamburguesa */

.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #B1070C;
    display: block;
    transition: all 0.15s;
}

/* Le agrego espacios a las lineas */

.middle-bar{
    margin: 5px auto;
}

/* Cuando esta abierto el menú (INICIO) */

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* Cuando esta abierto el menú (FIN) */

/* Cuando esta cerrado el menú (INICIO) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

/* Cuando esta cerrado el menú (FIN) */

/* Color de la hamburguesa cuando esta cerrada */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #ffffff;
}


/* HERO
-------------------------------------------------- */

.carousel {
    margin-bottom: 4rem;
    }

.carousel-caption {
    right: 10%;
    left: 10%;
    bottom: 8rem;
    z-index: 10;
    }

.carousel-item {
    height: 32rem;
    }

.carousel-item > img {
    position:absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
    }

.btn-primary {
    background-color: red;
    border-color: red;
    }


.btn-primary:hover {
    background-color: rgb(254, 109, 109);
    border-color: rgb(254, 109, 109);
    }
.btn {
    margin-top: 1em;
    padding: 20px 30px;
}

#div-hero {
    right: 10%;
    left: 10%;
    bottom: 2rem;
    z-index: 10;
}

#btn-hero {
    display: flex;
    justify-content: end;
    }


#h1-hero {
    text-align: right;
    font-size: 3.7em;
    font-weight: 700;
    
}

#p-hero {
    text-align: right;
}

/* MAIN
-------------------------------------------------- */

section {
    margin-bottom: 2.5em;
    padding-left: 6em;
    padding-right: 6em;
    
}

p {
    text-align: left;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.h1-pages {
    font-size: calc(11rem + 2.5vw);
    font-weight: 700;
}

.h1-contact {
    font-size: calc(8rem + 2.5vw);
    font-weight: 700;
}

h2 {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

h3 {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}

.table-light {
    --bs-table-bg: #ff9595;
}

/* FOTOS
-------------------------------------------------- */

#galeria img {
    width: 100%;
    height: 220px;
}

#galeria .col-lg-3 {
    padding: 10px;
}
.cada-foto {
    transition: 0.5s;
    object-fit: cover;
}

.cada-foto:hover {
    transform: scale(1.1);
}

/* FORM
-------------------------------------------------- */

.bg-form {
    padding: 1rem;
    background-color: #ff9595;
    border-radius: 0.375rem;;
}

.form-control:focus {
    border-color: #a00000;
    box-shadow:  0 0 .5rem rgba(255,0,0,.70);
}

.form-check-input:checked {
    background-color: #a00000;
    border-color: #a00000;
    box-shadow:  0 0 .7rem rgba(255,0,0,.70);
}

.form-select:focus {
    border-color: #a00000;
    box-shadow:  0 0 .7rem rgba(255,0,0,.70);
}


/* FOOTER
-------------------------------------------------- */

/* Se define el Grid */

footer {
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.8393951330532212) 60%, rgba(151,4,4,1) 82%);
    height: 12vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "made redes";
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#made {
    grid-area: made; 
}

#redes {
    grid-area: redes;
    
}

/* Se cierra la definición del Grid */

footer p {
    color: rgb(255, 255, 255);
    padding-right: 300px;
}

footer div a {
    padding: .5em;
}

.redes-sociales {
    width: 40px;
    height: 40px;
}


/* EFECTOS
-------------------------------------------------- */

#efecto-p {
    text-align: center;
    animation-name:info-shows;
    animation-duration:4s;
    animation-timing-function:ease-in-out;
}

@keyframes info-shows {
    0% {
        transform:scale(1);
    }

    25% {
        transform:scale(1.2);
    }

    50% {
        transform:scale(0.8);
    }

    75% {
        transform:scale(1.4);
    }

    100% {
        transform:scale(1);
    }
}


/* RESPONSIVE
------------------------------------------------------------------------------------------------- */


@media only screen and (max-width: 1024px) {
    

    /* Hero */

    #h1-hero {
        text-align: center;
        font-size: 3.2em;
    }

    #p-hero {
        font-weight: 200;
        text-align: center;
    }

    #btn-hero {
        justify-content: center;
    }


    /* Body */

    section {
        padding-left: .5em;
        padding-right: .5em;
    }

    .h1-pages {
        font-size: calc(9rem + 1.5vw);
    }

    .h1-contact {
        font-size: calc(5rem + 2.5vw);
        font-weight: 700;
    }
    

    p, h2, h3 {
        margin-left: 1.5em;
        margin-right: 1.5em;
        font-weight: 700;
    }

    /* Footer */

    footer {
        height: 20vh;
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
        grid-template-areas:    "made" 
                                "redes";
    }

    #made {
        margin-bottom: 1em ;
    }
    
    #redes {
        margin-bottom: 2em ;
    }

    footer p {
        padding-right: 0px;
    }

    .field {
        width: 40em;
    }

}

@media only screen and (max-width: 576px) {

    #h1-hero {
        font-size: 2em;
        margin-bottom: .5em;
    }
       
    .h1-pages {
        font-size: 6em;
    }

    .h1-contact {
        font-size: 4em;
    }
    .nav-bar {
        justify-content: center;
    }

    .navbar-nav {
        padding-left: 5px;
    }

    .container {
        padding-left: 0;
    }
}