@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  /* Estilos de las letras del menú
-------------------------------------------------- */
  /* MENÚ HAMBURGUESA PROPIO
-------------------------------------------------- */
  /* Lineas que forman la hamburguesa */
  /* Le agrego espacios a las lineas */
  /* Cuando esta abierto el menú (INICIO) */
  /* Cuando esta abierto el menú (FIN) */
  /* Cuando esta cerrado el menú (INICIO) */
  /* Cuando esta cerrado el menú (FIN) */
  /* Color de la hamburguesa cuando esta cerrada */
  /* INTRO
-------------------------------------------------- */
  /* Aparición de imagen */
  /* Aparición bloque informativo */
  /* Estilos bloque informativo */
  /* Efecto de flechas hacía abajo */
  /* FIN DE INTRO
-------------------------------------------------- */
  /* AUSPICIANTES
-------------------------------------------------- */
  /* COMPRA VINILO
-------------------------------------------------- */
  /* RESPONSIVE
-------------------------------------------------- */
  /* EFECTOS
-------------------------------------------------- */
  /* RESPONSIVE
------------------------------------- */ }
  body #sticky {
    position: sticky;
    top: 0%;
    z-index: 100; }
  body header nav {
    background-color: black; }
    body header nav div div ul li {
      padding-left: 2em;
      font-size: 20px;
      display: inline-block; }
  body .navbar-nav .nav-link.active, body .navbar-nav .show > .nav-link.active {
    color: white; }
  body .nav-link {
    color: rgba(255, 255, 255, 0.5); }
  body .nav-item {
    font-size: 18px; }
  body .nav-item a:hover {
    color: #B1070C; }
  body .toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #B1070C;
    display: block;
    transition: all 0.15s; }
  body .middle-bar {
    margin: 5px auto; }
  body .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  body .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0); }
  body .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  body .navbar-toggler.collapsed .top-bar {
    transform: rotate(0); }
  body .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100); }
  body .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0); }
  body .navbar-toggler.collapsed .toggler-icon {
    background-color: #ffffff; }
  body h2 {
    text-align: center;
    margin-bottom: 2em; }
  body section {
    padding-left: 6em;
    padding-right: 6em; }
  body section p {
    font-size: 20px;
    text-align: left; }
  body #aparicion-home, body #aparecion-info {
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: img-aparece; }

@keyframes img-aparece {
  0% {
    opacity: 0;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }
  body #img-fondo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/img/Portada4.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover; }
  body #aparecion-info {
    animation-name: info-aparece; }

@keyframes info-aparece {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  60% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
  body .cta {
    bottom: 0;
    left: 0;
    padding-bottom: 2rem;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 4; }
  body #h3-cta {
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: large;
    color: white; }
  body .btn-cta, body main section.container p a.btn-wp {
    border-bottom: 2px solid red;
    text-decoration: none;
    display: inline-block;
    padding: 0 2em 0.7em;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    color: white; }
  body .btn-cta:hover, body main section.container p a.btn-wp:hover {
    color: red; }
  body #mas-info {
    margin-top: 2em;
    color: white; }
  body .bi {
    display: inline-block;
    font: normal normal normal 14px/1;
    font-size: inherit;
    text-rendering: auto;
    margin-left: 3px;
    margin-right: 3px;
    color: white; }
  body .bi-music-note-beamed {
    color: #ffffff;
    margin-left: 6px;
    margin-right: 6px; }
  body .i-move {
    animation: i-move 1s infinite;
    animation-timing-function: ease; }

@keyframes i-move {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(3px); }
  100% {
    transform: translateY(0); } }
  body main h1.h1-home {
    padding-top: 2em;
    text-align: center;
    font-size: 62px;
    font-weight: 700; }
  body main aside div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5em; }
    body main aside div p {
      font-family: 'Nanum Pen Script', cursive;
      font-size: 30px;
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em; }
  body main section.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; }
    body main section.container h2.h2-home {
      padding-top: 3em;
      text-align: center;
      font-size: 2.2em; }
    body main section.container div {
      justify-content: center; }
      body main section.container div img {
        width: 100%; }
    body main section.container div#columna ul {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0; }
      body main section.container div#columna ul li a.btn-buy {
        border-bottom: 2px solid red;
        text-decoration: none;
        display: inline-block;
        padding: 0 2em 0.7em;
        margin-bottom: 10px;
        text-align: center;
        vertical-align: middle;
        color: black; }
        body main section.container div#columna ul li a.btn-buy:hover {
          color: red; }
  body main section.container h2.h2-home {
    padding-top: 1em; }
  body main section.container p a.btn-wp {
    padding: 0 1em;
    margin-bottom: 0px;
    vertical-align: auto;
    color: black; }
  @media only screen and (max-width: 1024px) {
    body h2, body h3, body p {
      margin-left: 1.5em;
      margin-right: 1.5em; } }
  @media only screen and (max-width: 576px) {
    body .nav-bar {
      justify-content: center; } }
  body .breadcrumb {
    justify-content: center; }
  body .breadcrumb-item:active {
    color: rgba(255, 255, 255, 0.468); }
  body div nav ol li a {
    color: red;
    font-style: italic;
    text-decoration: none; }
    body div nav ol li a:hover {
      color: rgba(255, 255, 255, 0.8); }
  body .h1-pages, body .h1-contact {
    text-align: center;
    font-size: calc(11rem + 2.5vw);
    font-weight: 700; }
  body .h1-contact {
    font-size: calc(7rem + 2.5vw); }
  body .h2-pages {
    padding-top: 2.5em; }
  body .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0; }
  body .card-body p {
    text-align: start; }
  body .table {
    width: 100%; }
  body .table-light {
    --bs-table-bg: #ff9595; }
  body #efecto-p {
    text-align: center;
    animation-name: info-shows;
    animation-duration: 4s;
    animation-timing-function: ease-in-out; }

@keyframes info-shows {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.2); }
  50% {
    transform: scale(0.8); }
  75% {
    transform: scale(1.4); }
  100% {
    transform: scale(1); } }
  @media only screen and (max-width: 1024px) {
    body .h1-pages, body .h1-contact {
      font-size: calc(9rem + 1.5vw); }
    body .h1-contact {
      font-size: calc(4.2rem + 2.5vw);
      font-weight: 700; }
    body main div div img {
      src: url(../img/banner-home-banda-tablet.jpg); } }
  @media only screen and (max-width: 576px) {
    body .h1-contact {
      font-size: calc(3.2rem + 2.5vw);
      font-weight: 700; }
    body main div div img {
      src: url(../img/banner-home-banda-smartphone.jpg); } }
  body footer {
    background-image: linear-gradient(90deg, #020024 0%, rgba(0, 0, 0, 0.839395) 60%, #970404 82%);
    height: 20vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "made contrata redes";
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    align-items: center; }
    body footer p {
      grid-area: made;
      text-align: center;
      margin-top: 2em;
      font-size: larger;
      color: white; }
    body footer span {
      grid-area: contrata;
      text-align: center;
      margin-top: 1em;
      color: white; }
    body footer div {
      grid-area: redes; }
      body footer div a {
        padding: .5em; }
  body .bi-youtube {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white; }
    body .bi-youtube:hover {
      color: #F70100; }
  body .bi-spotify {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white; }
    body .bi-spotify:hover {
      color: #1ED05E; }
  body .bi-instagram {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white; }
    body .bi-instagram:hover {
      color: #8a3ab9; }
  body .bi-twitter {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white; }
    body .bi-twitter:hover {
      color: #1C96E9; }
  @media only screen and (max-width: 1024px) {
    body footer {
      height: 35vh;
      grid-template-rows: 3fr;
      grid-template-columns: 1fr;
      grid-template-areas: "made" "contrata"  "redes"; }
    body #made {
      margin-bottom: 1em; }
    body #redes {
      margin-top: 2em;
      margin-bottom: 2em; }
    body footer p {
      padding-right: 0; } }
