@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

/* NAV
-------------------------------------------------- */

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

.bg-BK {
    background-color: black;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #fff;
}

.nav-link {
    color:rgba(255, 255, 255, 0.5);
}

.nav-item {
    font-size: 20px;
    
}

.nav-item a:hover {
    color:red;
}

/* SLIDE
-------------------------------------------------- */

.carousel {
    margin-bottom: 4rem;
    }

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    }
  
.carousel-item {
    height: 32rem;
    }

.carousel-item > img {
    position:absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
    }

.btn-primary {
    background-color: red;
    border-color: red;
    }

.nav-link.active {
    color:rgb(255, 255, 255);
}

.btn-primary:hover {
    background-color: rgb(254, 109, 109);
    border-color: rgb(254, 109, 109);
    }
.btn {
    margin-top: 1em;
    padding: 20px 30px;
}

#btn-hero {
    display: flex;
    justify-content: end;
    }


/*Banner*/

#h1-hero {
    text-align: right;
    font-size: 3.7em;
    
}

.h1-pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14em;
    font-weight: 800;
}

#p-hero {
    text-align: right;
}

/* MAIN
-------------------------------------------------- */

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

section {
    margin-bottom: 2.5em;
    padding-left: 6em;
    padding-right: 6em;
    
}

.content {
    background-color: white;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 14em;
    font-weight: 800;
}

h2 {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

h3 {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}

.table-light {
    --bs-table-bg: #ff9595;
}

/**/

/**Footer**/

footer {
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.8393951330532212) 60%, rgba(151,4,4,1) 82%);
    height: 12vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "made redes";
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#made {
    grid-area: made; 
}

#redes {
    grid-area: redes;
    
}

footer p {
    color: rgb(255, 255, 255);
    padding-right: 300px;
}

footer div a {
    padding: .5em;
}

.redes-sociales {
    width: 40px;
    height: 40px;
}


/**/

/*Responsive*/


@media only screen and (max-width: 1024px) {
    

    /* Banner */

    #h1-hero {
        text-align: center;
        font-size: 3.2em;
        font-weight: 700;
    }

    #p-hero {
        font-weight: 200;
        text-align: center;
    }

    #btn-hero {
        justify-content: center;
    }


    /* Body */

    section {
        padding-left: .5em;
        padding-right: .5em;
    }

    
    .h1-pages {
        font-size: 7em;

    }

    #h1-contacto {
        font-size: 6em;
    }
    

    p, h2, h3 {
        margin-left: 1.5em;
        margin-right: 1.5em;
        font-weight: 700;
    }

    .fotos {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    #videos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    /* Footer */

    footer {
        height: 20vh;
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
        grid-template-areas:    "made" 
                                "redes";
    }

    #made {
        margin-bottom: 1em ;
    }
    
    #redes {
        margin-bottom: 2em ;
    }

    footer p {
        padding-right: 0px;
    }

    .field {
        width: 40em;
    }

}

@media only screen and (max-width: 576px) {

    

    .h1-pages {
        font-weight: 700;
    }

    #h1-hero {
        font-size: 2.5em;
        margin-bottom: .5em;
    }
       
}