
.sticky {
    position: sticky;
    top: 0%;
    z-index: 100;
}

header {
    nav {
        background-color: map-get($mapa , $key:fondo1); // USO DE MAP-GET
        div {
            div {
                ul {
                    li {
                        padding-left: 2em;
                        font-size: 20px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

/* Estilos de las letras del menú
-------------------------------------------------- */

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link.active {
    color: rgb(255, 255, 255);
}

.nav-link {
    color:rgba(255, 255, 255, 0.5);
}

.nav-item {
    font-size: 18px;
    
}

.nav-item a:hover {
    color: #B1070C;;
}

/* MENÚ HAMBURGUESA PROPIO
-------------------------------------------------- */

/* Lineas que forman la hamburguesa */

.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #B1070C;
    display: block;
    transition: all 0.15s;
}

/* Le agrego espacios a las lineas */

.middle-bar{
    margin: 5px auto;
}

/* Cuando esta abierto el menú (INICIO) */

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* Cuando esta abierto el menú (FIN) */

/* Cuando esta cerrado el menú (INICIO) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

/* Cuando esta cerrado el menú (FIN) */

/* Color de la hamburguesa cuando esta cerrada */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #ffffff;
}

    