h1 {
    padding-top: 2em;
    text-align: center;
    font-size: ($h1-hero*2)+6; //USO DE OPERACIÓN
    font-weight: 700;
}
.h2-home {
    text-align: center;
    font-size: 2em;
        
}

h2 {
    text-align: center;
    margin-bottom: 2em;
}

section {
    padding-left: 6em;
    padding-right: 6em;
}
section p {
    font-size: 20px;
    text-align: left;
}


/* INTRO
-------------------------------------------------- */

#aparicion-home {
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: img-aparece;
}

@keyframes img-aparece {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#aparecion-info {
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: info-aparece;
}

@keyframes info-aparece {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    60% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#img-fondo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/img/Portada4.jpg");
    background-color: rgba(0,0,0,.6);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
}

.cta {
    bottom: 0;
    left: 0;
    padding-bottom: 2rem;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 4;
}

#h3-cta {
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: large;
    color: white;
}

.btn-cta {
    border-bottom: 2px solid red;
    text-decoration: none;
    display: inline-block;
    padding: 0 2em 0.7em;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    color: white;
}
.btn-cta:hover {
    color: red;
}

.btn-wp {
    @extend .btn-cta;
    padding: 0 1em;
    margin-bottom: 0px;
    vertical-align:auto;
    color: black;
}

.bi-music-note-beamed {
    color: #ffffff;
    margin-left: 6px;
    margin-right: 6px;
}

#mas-info {
    margin-top: 2em;
}

div span {
    color: #ffffff;
}

div div i {
    animation: bounce 1s infinite;
    animation-timing-function: ease;
}

@keyframes bounce {

    0% {
    transform: translateY(0);
    }

    50% {
    transform: translateY(3px);
    }
    100% {
    transform: translateY(0);
    }
} 

.bi {
    display: inline-block;
    font: normal normal normal 14px/1;
    font-size: inherit;
    text-rendering: auto;
    margin-left: 3px;
    margin-right: 3px;
    color:rgb(255, 255, 255);
}

/* COMPRA VINILO
-------------------------------------------------- */

section.container {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items: center;
}

main section.container div {
    justify-content: center;
}

#ancho-img {
    width: 100%;
}

.buy {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

.btn-buy {
    border-bottom: 2px solid red;
    text-decoration: none;
    display: inline-block;
    padding: 0 2em 0.7em;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.btn-buy:hover {
    color: red;
}

/* AUSPICIANTES
-------------------------------------------------- */

aside {
    margin-bottom: 7em;
}
main aside div {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    padding-bottom: 1.5em;
}

main aside p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;

}


/* RESPONSIVE
-------------------------------------------------- */


@media only screen and (max-width: 1024px) {
        

    main div div img {
        src:url(../img/banner-home-banda-tablet.jpg);
    }
    
    section {
        padding-left: .5em;
        padding-right: .5em;
    }
    
    h2, h3 {
        margin-left: 1.5em;
        margin-right: 1.5em;
        font-weight: 700;
    }
}

@media only screen and (max-width: 576px) {

   /* #h1-hero {
        font-size: 2em;
        margin-bottom: .5em;
    } */

    .h2-home {
        padding-top: 1em;
    }

    section.container {
        padding-bottom: 3em;
    }
       
    .nav-bar {
        justify-content: center;
    }

    .container {
        padding-left: 0;
    }

    .navbar-nav {
        padding-left: 0;
    }

    .carousel-item {
        height: 32rem;
        }
}