
h2, h3 {
    text-align: center;
    margin-bottom: 2em;
}

.section {
    padding-left: 6em;
    padding-right: 6em;
}
p {
    font-size: 20px;
    text-align: left;
}

.p-center {
    @extend p;
    text-align: center;
    padding-bottom: 3em;
}


/* INTRO
-------------------------------------------------- */

/* Aparición de imagen */

#aparicion-home {
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: img-aparece;
}

@keyframes img-aparece {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#img-fondo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/img/Portada4.jpg");
    background-color: rgba(0,0,0,.6);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
}

/* Aparición bloque informativo */

#aparecion-info {
    @extend #aparicion-home;
    animation-name: info-aparece;
}

@keyframes info-aparece {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    60% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Estilos bloque informativo */

.cta {
    bottom: 0;
    left: 0;
    padding-bottom: 2rem;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 4;
}

#h3-cta {
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: large;
    color: white;
}

.btn-cta {
    border-bottom: 2px solid red;
    text-decoration: none;
    display: inline-block;
    padding: 0 2em 0.7em;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    color: white;
}
.btn-cta:hover {
    color: red;
}

#mas-info {
    margin-top: 2em;
    color:rgb(255, 255, 255);
}

.bi {
    display: inline-block;
    font: normal normal normal 14px/1;
    font-size: inherit;
    text-rendering: auto;
    margin-left: 3px;
    margin-right: 3px;
    color:rgb(255, 255, 255);
}

.bi-music-note-beamed {
    color: #ffffff;
    margin-left: 6px;
    margin-right: 6px;
}

/* Efecto de flechas hacía abajo */

.i-move {
    animation: i-move 1s infinite;
    animation-timing-function: ease;
}

@keyframes i-move {

    0% {
    transform: translateY(0);
    }

    50% {
    transform: translateY(3px);
    }
    100% {
    transform: translateY(0);
    }
} 

/* FIN DE INTRO
-------------------------------------------------- */

/* AUSPICIANTES
-------------------------------------------------- */

main {
    h1.h1-home {
        padding-top: 2em;
        text-align: center;
        font-size: ($h1-hero*2)+6; //USO DE OPERACIÓN
        font-weight: 700;
    }
    aside {
        div {
            display: flex;
            flex-flow: row wrap;
            justify-content:center;
            align-items: center;
            padding-bottom: 1.5em;
            p {
                font-family: 'Nanum Pen Script', cursive;
                font-size: 30px;
                text-align: center;
                padding-top: 1em;
                padding-bottom: 1em;
            }
        }
    }
}

/* COMPRA VINILO
-------------------------------------------------- */

main {
    section.container {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-evenly;
        align-items: center;
        h2.h2-home {
            padding-top: 3em;
            text-align: center;
            font-size: 2.2em;
        }
        div {
            justify-content: center;
            img {
                width: 100%;
            }
        }
        div#columna {
            ul {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    a.btn-buy {
                        border-bottom: 2px solid red;
                        text-decoration: none;
                        display: inline-block;
                        padding: 0 2em 0.7em;
                        margin-bottom: 10px;
                        text-align: center;
                        vertical-align: middle;
                        color: black;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }

        }
    }
    article.container { // Sección final de texto
        padding-bottom: 2em;
    }
}

.btn-wp {
    @extend .btn-cta;
    padding: 0 1em;
    margin-bottom: 0px;
    vertical-align:auto;
    color: black;
}


/* RESPONSIVE
-------------------------------------------------- */


@media only screen and (max-width: 1024px) {
    
    article p {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

}

@media only screen and (max-width: 576px) {
       
    .nav-bar {
        justify-content: center;
    }

    
}