$h1-hero: 28px;

$color-footer: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.8393951330532212) 60%, rgba(151,4,4,1) 82%);

$instagram: #8a3ab9;
$spotify: #1ED05E;
$youtube: #F70100;
$twitter: #1C96E9;

