@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "./variables";
@import "./mixing";
@import "./mapa";
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    @import "./header";
    @import "./main_home";   
    @import "./main_pages"; 
    @import "./footer";
}  
